      <h1>Users</h1>
        <div class="box17">
        <%= form_tag(users_search_path,:method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :name => nil %>
        <% end %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback:"no_image.jpg",size: '50x50' %>
              </td>
              <td>
              <%= user.name %>
              </td>
              <td>
              <%= link_to "Show", user_path(user.id) %>
              </td>
            </tr>
          </div>
          <% end %>
        </tbody>
      </table>