 <div class="kabegami2">
 <div class="userbox">
       <h1>Users</h1>
        <div class="searchbox">
            <%= form_tag(users_search_path,:method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search', :name => nil %>
            <% end %>
        </div>
      <table class="table table-hover table-inverse table-borderd">
        <thead>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr class="box25">
              <td>
              <%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback:"no_image.jpg",size: '100x100' %>
              </td>
              <td>
              <%= user.name %>
              </td>
              <td>
              <%= link_to "Show", user_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
</div>