<div class="kabegami2">
<% if @user.id == current_user.id %>
<h1>マイページ</h1>
<% end %>

<div class="profile-container">
  <div class="profile-image">
      <h3 class="profile-name"><%= @user.name %></h3>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  </div>
  <% if @user.id == current_user.id %>
    <div class="calendarbox">
    <div class="box-title">MY CALENDAR</div>

    <div id="calendar"></div>

    <div id="wrap5">
    <p>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-circle-border-double" %>
    </p>

    <div id="result">
    </div>

    <div class="btn-circle-border-double">
    <div id="target"></div>
    <a href="" id="ss" download="html_ss.png">スクリーンショット</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script>
            //ロードされた際の処理として実施：
            window.onload = function(){

              //HTML内に画像を表示
              html2canvas(document.getElementById("target"),{
                onrendered: function(canvas){
                  //imgタグのsrcの中に、html2canvasがレンダリングした画像を指定する。
                  var imgData = canvas.toDataURL();
                  document.getElementById("result").src = imgData;
                  alert(imgData);
                }
              });

              //ボタンを押下した際にダウンロードする画像を作る
              html2canvas(document.getElementById("calendar"),{
                onrendered: function(canvas){
                  //aタグのhrefにキャプチャ画像のURLを設定
                  var imgData = canvas.toDataURL();
                  document.getElementById("ss").href = imgData;
                }
              });
            }
    </script>
    </div>
    </div>
    </div>
  <% end %>
  </div>
</div>
</div>


<div class="kabegami2">
    <h1>ユーザー投稿一覧</h1>
    <% @post_images.each do |post_image| %>
            <div class="box17">
            <%= link_to post_image_path(post_image.id) do %>          
            <%= attachment_image_tag post_image, :image, :fill, 150, 150 %>
            <% end %>
            </div>
    <% end %>
</div>