<h1>一覧</h1>
<% @post_images.each do |post_image| %>
            <%= link_to post_image_path(post_image.id) do %>          
                    <%= attachment_image_tag post_image, :image, :fill, 150, 150 %>
                    <div class="block-content">
                    <p><%= post_image.caption %></p>
                      <li>By
                        <%= post_image.user.name %>
                      </li>
                    </div>
            <% end %>
              <ul class="inline-meta">
                <li>By
                  <%= post_image.user.name %>
                </li>
                <li>
                  <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %>
                </li>
              </ul>
<% end %>

<h1>いいねランキング</h1>
<% @all_ranks.each do |post_image| %>
          <%= link_to post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image, :fill, 150, 150 %>
            <div class="block-content">
              <p><%= post_image.caption %></p>
                <li>By
                  <%= post_image.user.name %>
                </li>
            </div>
        <% end %>
<% end %>
