<!DOCTYPE html>
<html>
<title>Subcalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
      <ul>
          <% if user_signed_in? %>
              <li class="">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
              <li class="">
                <%= link_to 'マイページ', user_path(current_user.id) %>
              </li>
          <% else %>
              <li class="">
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li class="">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
          <% end %>
      </ul>
    <%= yield %>

   <footer class="footer style-2">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 20px;">
              <br>
              他人の予定から新しいものに出会えるSNS
              </p>
            </div>
    </footer>
  </body>
</html>
