<!DOCTYPE html>
<html>
       <meta charset="utf8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Subcalendar</title>
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="../../app/assets/stylesheets/postimages.scss" media="all">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>

   <header>
      <div class="header-text">
              <p>
              SUBCALENDAR
              </p>
      </div>
    </header>


      <ul>
      <div id="hm-icon">
         <a class="menu-trigger" href="#">
           <span></span>
           <span></span>
           <span></span>
         </a>
       </div>

    

          <% if user_signed_in? %>
          <div id="sp-menu">
              <li><a href="#">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} %>
              </a></li>
              <li><a href="#">
                <%= link_to 'マイページ', user_path(current_user.id) %>
              </a></li>
              <li><a href="#">
                <%= link_to "ユーザー一覧", users_path %>
              </a></li>

              <li><a href="#">
                <%= link_to '投稿一覧', post_images_path %>
              </a></li>

              <li><a href="#">
                  <%= link_to '投稿フォーム', new_post_image_path %>
              </a></li>

              <li><a href="#">
                <%= link_to "HowtoUse", post_images_top2_path %>
              </a></li>

          </div>
          <% else %>
            <div id="sp-menu">
              <li><a href="#">
                <%= link_to "新規登録", new_user_registration_path %>
              </a></li>
              <li><a href="#">
                <%= link_to "ログイン", new_user_session_path %>
              </a></li>
              <li><a href="#">
                <%= link_to '投稿一覧', post_images_path %>
              </a></li>

              <li><a href="#">
                <%= link_to "HowtoUse", post_images_top2_path %>
              </a></li> 
            </div>
          <% end %>
    <%= yield %>

   <footer>
      <div class="footer-text">
              <p>
              他人の予定から新しいものに出会えるSNS
              </p>
      </div>
    </footer>
  </body>
</html>
